{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">{% endblock %}


{% block content %}
    <div class="row align-items-center">
    <div class="col">
    </div>
        <div class="col">
            <div class="card" style="width: 36rem">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Eureka Login</h1>
                </div>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endif %}

                    {% from "_formhelpers.html" import render_field %}
                    <form class="form-signin" method="POST" action="{{ url_for('.login')}}" role="form">

                        {{ form.hidden_tag() }}

                        {{ render_field(form.username, class='form-control') }}
                        {{ render_field(form.password, class='form-control') }}

                        <button type="submit" class="btn btn-primary">Login</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

{% endblock %}